/*
Template Name: WhiteHat - SEO and Digital Marketing Template
Author: ScriptsBundle
Version: 1.0
Designed and Development by: ScriptsBundle

====================================
[ CSS TABLE CONTENT ]
------------------------------------
    1.0 - GENERAL CSS
    2.0 - HEADING CSS
    3.0 - HEADING 2 CSS
    4.0 - SPINNER CSS
    5.0 - TOP CSS
    6.0 - PAGINATION CSS
    7.0 - BREADCRUMB
    8.0 - HEADER TOP BAR
    9.0 - NAVIGATION TOP BAR
    10.0 - NAVBAR
    11.0 - TRANSPARENT HEADER
    12.0 - MAIN SECTION
    13.0 - MAIN SECTION 2
    14.0 - GET ANALYTICS
    15.0 - CLIENTS
    16.0 - FEATURES
    17.0 - TEAM CSS
    18.0 - SERVICES CSS
    19.0 - FUNFACT
    20.0 - PROCESS CSS
    21.0 - CASE STUDIES
    22.0 - TESTIMONIAL 2 CSS
    23.0 - PRICING TABLE 5 CSS
    24.0 - APP SECTION CSS
    25.0 - SERVICES 3 CSS
    26.0 - BLOG CSS
    27.0 - SERVICES SIDEBAR
    28.0 - CASESTUDIES DETAIL
    29.0 - CALL TO ACTION 1
    30.0 - CONTACT US CSS
    31.0 - SHOP CSS
    32.0 - FOOTER CSS
    33.0 - MEDIA QUERIES

-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/


/* ---- GENERAL CSS ----- */

body {
    background: #FFF;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

h3,
h4 {
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Alegreya Sans', sans-serif;
}

h1,
h2 {
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Alegreya Sans', sans-serif;
}

h5,
h6 {
    line-height: 1.4;
    font-family: 'Alegreya Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #1b1a1a;
}

a {
    outline: none;
    color: #242424;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
    text-decoration: none;
}

ol,
ul {
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.light-blue {
    background-color: #d0e4f9 !important;
}

input.form-control:focus {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
    border: 1px solid #2f2a2a;
}

.panel {
    border-radius: 0;
    position: relative;
    box-shadow: none;
    border: 1px solid #F1F1F1;
}

.nopadding {
    padding: 0px ;
}

.noshedow {
    box-shadow: none ;
}

.no-translate {
    transform: none ;
}

.margintop70 {
    margin-top: 70px;
}

.marginto30 {
    margin-top: 30px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.bg-grey {
    background-color: #F8F8F8;
}

.bg-white {
    background-color: #FFF;
}

.ad-placement img {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
}

section {
    padding: 80px 0px;
    position: relative;
    background-color: #FFF;
}

.parallex::before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* ---- HEADING CSS ---- */

.heading {
    float: left;
    margin-bottom: 50px;
}

.heading .heading-letter-style {
    color: #6441a5;
    font-size: 90px;
    left: 50px;
    opacity: 0.1;
    position: absolute;
    top: -55px;
    font-weight: 600;
}

.heading .main-heading-container {
    padding-left: 30px;
}

.heading .main-heading-container:before {
    border-left: 3px solid #6441A5;
    border-top: 3px solid #6441a5;
    content: "";
    height: 35px;
    left: 22px;
    position: absolute;
    top: -20px;
    width: 35px;
}

.heading .main-heading-container h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
}

.heading .main-heading-container h3 {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
    font-size: 24px;
}

.main-heading-container p {
    width: 50%;
}

.side-heading .main-heading-container p {
    width: 100%;
}

.side-heading .main-heading-container {
    padding-left: 0;
}

.side-heading .main-heading-container:before {
    border-left: 3px solid #6441A5;
    border-top: 3px solid #6441a5;
    content: "";
    height: 35px;
    left: -25px;
    position: absolute;
    top: -25px;
    width: 35px;
}

.side-heading .heading-letter-style {
    color: #6441a5;
    font-size: 90px;
    left: 10px;
    opacity: 0.1;
    position: absolute;
    top: -55px;
    font-weight: 600;
}

.heading-white {
    color: #FFF;
}

.heading-white p {
    color: #FFF;
}

.heading-white .heading-letter-style {
    color: #fff;
    opacity: 0.3;
}

.heading-white .main-heading-container::before {
    border-left: 3px solid #FFF;
    border-top: 3px solid #FFF;
}


/* ---- HEADING 2 CSS ---- */

.heading-2 h3 {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
}

.heading-2 h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-custom {
    background-color: #021442;
    color: #FFF;
    font-size: 14px;
    padding: 10px 30px;
    text-transform: uppercase;
    border: 1px solid #0c74a6;
    margin-right: 20px;
}

.btn-custom:hover {
    background-color: #0c74a6;
    border-color: #6441a5;
    color: #fff;
}

.btn-custom-transparent {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn.btn-green {
    background-color: #36CDAA;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #36CDAA;
    color: #FFF;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn.btn-green:hover {
    background-color: transparent;
    border: 1px solid #36CDAA;
    color: #36CDAA;
}

.btn-green-transparent {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-green-transparent:hover {
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #242424;
}


/* ---- SPINNER CSS ---- */

#spinner {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999999;
}

.spinner-img {
    height: 100%;
    left: 0;
    position: fixed;
    top: 35%;
    width: 100%;
}

.first-heading {
    margin-top: 0;
}

.first-heading .title {
    padding-top: 0;
}

section.slider-container {
    padding: 0;
}


/* ---- TOP CSS ---- */

.cart-active {
    position: relative;
}

.cart-btn a {
    padding: 20px 0;
    position: relative;
    z-index: 99;
}

.cart-btn a sup {
    background: #6441a5;
    border-radius: 100%;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 19px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 10px;
    width: 20px;
}

.cart-grid {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    opacity: 1;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 36px;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 0 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 250px;
    z-index: 9999999;
}

.cart-grid-box {
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.cart-grid-box-img {
    float: left;
    margin-right: 10px;
    width: 55px;
}

.cart-grid-box-title a {
    color: #676767;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

p.price {
    font-weight: 600;
    color: #000;
}

.cart-grid-box-title p {
    font-size: 13px;
    margin: 0;
}

.cart-grid-box-title {
    float: left;
    text-align: left;
}

.cart-grid-box-del {
    float: right;
    margin-top: -25px;
}

.cart-grid-box-del i {
    font-size: 16px;
}

.total-amount p {
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    width: 50%;
}

.total-amount span {
    float: right;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: right;
}

.total-amount {
    border-bottom: 1px solid #ededed;
    padding-bottom: 35px;
}

.action-cart .btn-custom {
    margin-right: 0;
    padding: 10px 15px;
}

.action-cart {
    margin-bottom: 10px;
    margin-top: 25px;
    text-align: center;
}

.cart-grid-box-del a:hover {
    color: red;
}

.cart-active .cart-grid-box-title a {
    color: #000;
}

.cart-active .cart-grid-box-title a:hover {
    color: #6441a5;
}

.viewcart {
    margin-right: 5px;
}

.action-cart .viewcart a

.checkout {
    margin-left: 5px;
}

.cart-active:hover .cart-grid {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.cart-grid-box-del i {
    color: #242424;
}



/* ---- PAGINATION CSS ---- */

.pagination-box {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.pagination > li > a,
.pagination > li > span {
    padding: 10px 15px;
    color: #242424;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
}

.pagination > li.active > a {
    background-color: #6441A5;
    border: 1px solid #6441A5;
    font-weight: 600;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #6441A5;
    border: 1px solid #6441A5;
}

.pagination > li > a:hover {
    background-color: #6441A5;
    color: #FFF;
    border: 1px solid #6441A5;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    border-color: #F1F1F1;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}

.scrollup {
    background-color: #0c74a6;
    border-radius: 5px;
    bottom: 34px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    display: none;
    height: 40px;
    opacity: 0.5;
    padding: 5px;
    position: fixed;
    right: 20px;
    width: 40px;
}

.scrollup:hover {
    opacity: 1;
}

.scrollup i {
    color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
}


/* ----  BREADCRUMB ---- */

.my-breadcrumb {
    background: #24201f url("../images/slider/hehe.jpg") repeat scroll center center / cover;
    padding: 50px 0;
}

.my-breadcrumb::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-right: 5px solid;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.my-breadcrumb .page-banner h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.my-breadcrumb .page-banner h4 {
    margin: 0;
    color: #FFF;
    text-transform: capitalize;
}

.my-breadcrumb .page-banner .breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 15px 0;
    text-align: right;
}

.my-breadcrumb .breadcrumb > li {
    display: inline-block;
    text-transform: capitalize;
}

.my-breadcrumb .page-banner .breadcrumb a {
    color: #fff;
    text-transform: uppercase;
}

.my-breadcrumb .breadcrumb > li + li::before {
    content: "";
    font-family: FontAwesome;
    padding: 0 5px;
}

.my-breadcrumb .breadcrumb > li + li::before {
    color: #6441a5;
    content: "";
    padding: 0 5px;
}

.my-breadcrumb .breadcrumb > .active {
    color: #aaa8a8;
    text-transform: uppercase;
}


/* ----  HEADER TOP BAR ---- */

.header-top {
    background-color: #242424;
    padding: 15px 0;
}

.header-top.black {
    background: #242424;
}

.header-top-info i {
    font-size: 12px;
}

.header-top-info > p {
    color: #fff ;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    text-transform: capitalize;
}

.header-top-info > p a {
    color: #fff;
}

.header-top-info > p i {
    margin-right: 10px;
}

.header-top-right ul {
    margin-bottom: 0;
}

.header-top-right ul li a {
    color: #FFF;
    text-transform: uppercase;
}

.header-top-right ul li a:hover {
    color: #6441A5;
}

.header-top-right ul li i {
    margin-right: 5px;
    font-size: 14px;
}

.header-top-right ul li {
    display: inline-block;
    padding: 0 10px;
}

.header-top-right ul li:first-child {
    border-left: none;
}

.header-top-left .social-bar {
    margin-top: 0;
    margin-bottom: 0
}

.header-top-left .social-bar li a:hover {
    color: #FFF;
}

.header-top-left .social-bar ul {
    margin-bottom: 0
}

.header-top-right .country .btn-info {
    background-color: transparent;
    border: none;
    padding: 0;
    text-transform: uppercase;
}

.header-top-right .country .btn-info.active.focus,
.header-top-right .country .btn-info.active:focus,
.header-top-right .country .btn-info.active:hover,
.header-top-right .country .btn-info.focus:active,
.header-top-right .country .btn-info:active:focus,
.header-top-right .country .btn-info:active:hover,
.header-top-right .country .open > .dropdown-toggle.btn-info.focus,
.header-top-right .country .open > .dropdown-toggle.btn-info:focus,
.header-top-right .country .open > .dropdown-toggle.btn-info:hover {
    color: #FFF;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.header-top-right .country .dropdown-menu {
    border-radius: 0;
    min-width: 150px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.header-top-right ul.dropdown-menu li {
    position: relative;
    overflow: hidden;
}

.header-top-right ul.dropdown-menu > li > a {
    padding: 10px 20px;
    color: #555;
}

.header-top-right ul.dropdown-menu > li > a:hover {
    color: #6441A5;
}

.header-top-right .top-profile .dropdown-menu > li a:before {
    color: #242424;
    content: normal;
    font-family: FontAwesome;
    padding-right: 0;
    font-weight: 400;
}

.header-top-left .social-bar {
    margin-bottom: 0;
    margin-top: 0;
}

.header-top-left .social-bar li a:hover {
    color: #fff;
}

.header-top-left .social-bar ul {
    margin-bottom: 0;
}

.social-bar {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.social-bar li {
    display: inline-block;
    margin: 0 25px 0 0;
}

.social-bar li a {
    color: #FFF;
    font-size: 15px;
}

.social-bar li a:hover {
    color: #6441A5;
}

.top-menu-button {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px
}

.header-top-right ul li .top-menu-button:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #FFF;
}

.call-to-us {
    position: relative;
    width: 100%;
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}

.call-to-us i {
    float: left;
    font-size: 44px;
    margin-right: 5px;
    line-height: 60px;
    color: #6441a5;
}

.call-to-us p {
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 10px;
}

.call-to-us h3 {
    font-weight: 600;
    font-size: 24px;
    color: #6441a5;
    margin: 0;
    line-height: 20px;
}

.call-to-us span {
    color: #999;
    font-size: 20px;
    line-height: 30px;
}

.call-to-us .phone-no {
    position: relative;
    overflow: hidden;
}

.call-to-us:hover i {
    color: ;
}

.call-to-us a {
    line-height: 30px;
}
.search-form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.search-form button i {
    color:#FFF; 
}
.search-form form input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight:600;
}

/* ----  NAVIGATION TOP BAR ---- */

header .header-bar-top .header-bar-top-element {
    padding: 12px 25px;
}

header .header-bar-top .header-bar-top-element {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    position: relative;
}

header .header-bar-top .header-bar-top-element i {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
}

header .header-bar-top .header-bar-top-element a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.1s ease 0s;
}

.header-bar-top-element .dropdown-menu .dropdown-item {
    display: block;
    color: #242424;
    padding: 10px;
}

.header-bar-top-element .dropdown-menu {
    min-width: 120px;
    border-radius: 0;
    padding: 0;
    margin-top: 12px;
}

.header-bar-top-element .btn-group .btn {
    background-color: transparent;
    padding: 0;
    line-height: 10px;
}

.languages-switcher .dropdown-toggle::after {
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    width: 0;
    color: #FFF;
}

.submit-btn {
    font-size: 20px;
    background-color: #6441A5;
    color: #FFF;
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: 20px;
    border: 1px solid #6441A5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* ----  NAVBAR ---- */

header {
    position: relative;
    transition: top 0.2s ease-in-out;
    border-radius: 0;
}

.nav-up {
    top: -150px;
}

.header3.nav-down {
    position: fixed ;
    background-color: #242424;
    top: 0;
    padding: 10px 0;
}

.header3.nav-down #navbar-logo {
    margin-top: 0;
}

.dropdown-menu > li {
    position: relative;
}

.dropdown-menu > li a:before {
    color: #242424;
    content: "\f105 ";
    font-family: FontAwesome;
    padding-right: 10px;
    font-weight: 400;
}

.dropdown-menu > li > a {
    /*border-bottom: 1px solid #F1F1F1;*/
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 100%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li.open > a {
    background-color: transparent;
    color: #6441A5;
    padding-right: 10px;
}

.dropdown-menu > li.dropdown > a:hover {
    background-color: transparent;
    padding-right: 10px;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu .dropdown-menu {
    border-radius: 0;
    padding: 10px 0;
    border: none;
    border-top: 3px solid #6441A5;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.dropdown-menu .dropdown-menu {
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    padding: 30px 15px;
    font-weight: 700;
    color: #242424;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    color: #6441A5;
    border-color: #EEE;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #6441A5;
    padding-left: 30px;
}


/*#navbar-logo img {
    width:220px;    
}*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #6441A5;
}

header.header-one .navbar-default {
    background-color: #FFF;
}


/* ----  TRANSPARENT HEADER ---- */

nav.transparent {
    position: absolute;
    width: 100%;
    box-shadow: none;
}

nav.transparent .menu-list-items {
    box-shadow: none;
}

.transparent .menu-links > li > a {
    color: #FFF;
}

.mega-menu.transparent.desktopTopFixed .menu-list-items {
    background: #242424;
}

.mega-menu.transparent.desktopTopFixed .menu-list-items .menu-links > li > a {
    color: #FFF;
}


/* ----  MAIN SECTION ---- */

.main-section {
    background-image: url("../images/home-17-parallax.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    height: 750px;
}

.main-section .main-section-detail h1 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0
}

.main-section .main-section-detail h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: capitalize;
    color: #FFF;
}

.main-section .main-section-detail .btn {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #FFF;
    padding: 10px 30px;
    color: #FFF;
}

#about-2 {
    padding-bottom: 0;
    text-align: center;
}


/* ----  MAIN SECTION 2 ---- */

.main-section-2 {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    height: 550px;
}

.main-section-2 .main-section-detail h1 {
    color: #fff;
    text-transform: capitalize;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0
}

.main-section-2 h3 {
    color: #FFF;
    text-transform: capitalize;
    font-size: 34px;
    margin-top: 0;
}

.main-section-2 p {
    color: #FFF;
    margin-top: 60px;
    font-size: 20px;
}

.main-section-2 .form-inline input {
    border-radius: 4px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    height: 45px;
    margin-right: 10px;
    width: 200px;
}

.main-section-2 .form-inline {
    margin-top: 60px;
    text-align: left;
}


/* ----  GET ANALYTICS ---- */

.get-analytic {
    text-align: center;
    background-image: url("../images/get-analytics-bg.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.get-analytic .form-inline {
    margin-top: 50px;
}

.get-analytic .form-inline input {
    border-radius: 4px;
    height: 45px;
    width: 200px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}


/* ----  CLIENTS ---- */

.client-section {
    padding: 50px 0;
}

.client-section .heading-2 h2 {
    line-height: 24px;
    margin-bottom: 0;
}

#about {
    background-image: url(../images/slider/corner03.png), url(../images/slider/corner04.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    padding: 230px 0;
}


/* ----  FEATURES ---- */

.feature-icon-box {
    position: relative;
    overflow: hidden;
    clear: both;
}

.feature-icon-box i {
    float: left;
    font-size: 40px;
    margin-right: 20px;
    background: #6441A5;
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845);
    background: linear-gradient(to left, #6441A5, #2a0845);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 40px;
}

.feature-icon-box p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Alegreya Sans", sans-serif;
    line-height: 45px;
    margin-bottom: 20px;
}


/* ----  TEAM CSS ---- */

.team-grid {
    background: #fff none repeat scroll 0 0;
    color: #191919;
    margin-bottom: 30px;
    text-align: center;
}

.team-content {
    background-color: #f5f5f5;
    padding: 20px;
}

.team-content h5 {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.team-content span {
    color: #999;
    text-transform: uppercase;
    font-weight: 500;
}

.team-content .social2 {
    padding: 5px 0;
}

.team-content .social-icons {
    border-top: 1px solid #e8e8e9;
    padding: 6px 0;
}

.team-content .social2 .fa {
    color: #c5c5c5;
    font-size: 16px;
    margin-right: 20px;
}

.team-content .social2 li:last-child i {
    margin-right: 0;
}

.team-content .social-icons > li {
    display: inline;
    margin-right: 3px;
}

.team-content .social-icons a {
    color: #848484;
    font-size: 20px;
    line-height: 20px;
    transition: color 0.3s ease-in-out 0s;
    vertical-align: middle;
}

.team-content h5:hover {
    color: #6441a5;
    cursor: pointer;
}

.team-content .social2 .fa:hover {
    color: #6441a5;
    cursor: pointer;
}


/* ----  SERVICES CSS ---- */

#services .services-box {
    position: relative;
    margin-bottom: 30px;
}

#services .services-box .iconbox {
    position: relative;
}

#services .services-box .iconbox i {
    background: #6441a5;
    color: #FFF;
    padding: 27px;
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

#services .services-box.right .iconbox i {
    color: #FFF;
    padding: 24px;
    float: right;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 0;
}

#services .services-box.right .iconbox-meta {
    padding-left: 30px ;
}

#services .services-box .iconbox .iconbox-meta h4 {
    text-transform: capitalize;
    margin: 0;
    color: #242424;
    font-size: 24px;
}

#services .services-box .iconbox .iconbox-meta h4 a:hover {
    color: #6441a5;
}

#services .services-box .iconbox .iconbox-meta p {
    color: #999;
    font-style: italic;
    line-height: 20px;
}

#services .services-box .iconbox .iconbox-meta {
    background-color: #F5F5F5;
    padding: 10px 0;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#services .services-box p.services-detail {
    padding: 20px 10px;
    text-align: left;
}

#services .services-box:nth-child(6n+1) i {
    background: #F9AB1D;
}

#services .services-box:nth-child(6n+2) i {
    background: #1E9298;
}

#services .services-box:nth-child(6n+3) i {
    background: #01A991;
}

#services .services-box:nth-child(6n+3) i {
    background: #6FAD75;
}


/* ----   FUNFACT ---- */

.arch-funfacts {
    background-attachment: fixed;
    background-image: url("../images/square-graph.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 9;
    padding: 0;
    padding: 40px 0;
}

.arch-funfacts::before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-right: 5px solid;
}

.arch-funfacts h3 {
    color: #FFF;
    margin: 0;
}

.arch-funfacts .counter-box {
    padding-left: 20px;
}

.arch-funfacts .counter-seprator {
    border: none;
    padding: 40px;
}

.arch-funfacts .fun-facts-icons {
    font-size: 45px;
    margin-bottom: 10px;
}

.arch-funfacts .counter-box .counter-stats {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: #FFF;
}

.counter-seprator {
    border-right: 1px solid #d6d6d6;
    display: inline-block;
    float: left;
    width: 25%;
}


/* ----  PROCESS CSS ---- */

.process {
    padding-bottom: 0;
}

.process img {
    margin-top: 90px;
}

.process-titles {
    position: relative;
    overflow: hidden;
}

.process-titles {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.process-titles ul {
    margin: 0;
}

.process-titles ul li {
    width: 16%;
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-right: 35px;
    text-transform: uppercase;
    line-height: 24px;
}

.process-titles-postion {
    margin-top: 60px;
    vertical-align: top;
}


/* ----  CASE STUDIES ---- */

.project-container .owl-theme .owl-controls .owl-buttons div.owl-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 18px ;
    height: 80px ;
    left: 0;
    line-height: 80px ;
    margin: 0 ;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 20px;
    z-index: 997;
}

.project-container .owl-theme .owl-controls .owl-buttons div.owl-next {
    background-color: rgba(0, 0, 0, 0.5) ;
    color: #ffffff ;
    font-size: 18px ;
    height: 80px;
    line-height: 80px ;
    margin: 0 ;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 35%;
    width: 20px;
    z-index: 997;
}

.project-container .owl-theme .owl-controls {
    margin-top: 0;
}

.project-container .owl-theme .owl-controls .owl-buttons div.owl-prev,
.project-container .owl-theme .owl-controls .owl-buttons div.owl-next {
    opacity: 0 ;
    border-radius: 0 ;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.project-container .owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.project-container .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    width: 30px;
}

.project-container:hover .owl-prev,
#post-slider:hover .owl-prev,
.project-container:hover .owl-next,
#post-slider:hover .owl-next {
    opacity: 1 !important;
}

.recent-project {
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.recent-project img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-transition: bottom .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out;
    -o-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out
}

.project-container .owl-item:hover img {
    bottom: -100px;
}

.project-container .project-info {
    padding: 15px;
    background-color: #6441a5;
    width: 100%;
    height: 350px;
}

.project-container .project-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.project-container .project-info h3 a {
    color: #FFF;
}

.project-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
}

.project-container-2 .recent-project {
    margin-bottom: 30px;
}

.project-container-2 .project-info {
    padding: 15px;
    background-color: #6441a5;
    width: 100%;
    height: 350px;
}

.project-container-2 .project-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.project-container-2 .project-info h3 a {
    color: #FFF;
}

.project-container-2 .recent-project:hover img {
    bottom: -100px;
}


/* ---- TESTIMONIAL 2 CSS ---- */

.owl-testimonial-2 .single_testimonial {
    padding: 20px;
    background-color: #FFF;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.9);
}

.owl-testimonial-2 .single_testimonial:after,
.owl-testimonial-2 .single_testimonial:before {
    background: #2a0845;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    content: "";
    height: 100%;
    left: 4%;
    position: absolute;
    top: 4%;
    width: 95%;
    z-index: -1;
    opacity: 0.5
}

.owl-testimonial-2 .single_testimonial h4 {
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.owl-testimonial-2 .single_testimonial i {
    color: #ffc207;
    margin-bottom: 20px;
    margin-top: 5px;
}

.owl-testimonial-2 .single_testimonial img {
    border-radius: 50px;
    height: 90px;
    margin: auto;
    width: 90px;
    float: left;
    margin-right: 15px;
}

.owl-testimonial-2 .single_testimonial h3 {
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.owl-testimonial-2 .single_testimonial .testimonial-meta-box .testimonial-meta p {
    margin-bottom: 0;
    line-height: 24px;
}

.owl-testimonial-2 .single_testimonial .textimonial-content {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.owl-testimonial-2 .single_testimonial .testimonial-meta-box {
    position: relative;
    overflow: hidden;
}

.owl-testimonial-2 .single_testimonial .testimonial-meta-box::after {
    color: #202c45;
    content: "";
    font-family: fontawesome;
    font-size: 48px;
    opacity: 0.2;
    position: absolute;
    right: 10px;
    top: -10px;
}

.owl-testimonial-style-1 .single_testimonial:after {
    border-bottom: 50px solid #eee;
    border-right: 50px solid #f4f7fa;
    box-shadow: -8px 3px 9px -2px rgba(0, 0, 0, 0.1);
    content: "";
    height: 0;
    right: 15px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 9;
    left: auto;
    opacity: 1;
}

.owl-testimonial-style-1 .single_testimonial:before {
    content: "";
    background: none;
    opacity: 1;
}

.owl-testimonial-style-1 .single_testimonial {
    box-shadow: 0px 6px 6px -7px rgba(0, 0, 0, 0.9);
}


/* ---- PRICING TABLE 5 CSS ---- */

.pricing-section {
    padding-bottom: 50px;
}

.pricing-section .pricing-table-small {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 #eff1f8;
    float: left;
    padding: 20px 30px;
    width: 100%;
    margin-bottom: 30px;
}


/*.pricing-section .pricing-table-small.border {
    border:10px solid #6441A5;
    border-top:none;
}*/

.pricing-section .pricing-table-small::before,
.pricing-section .pricing-table-small::after {
    background-color: #2a0845;
    content: "";
    height: 100%;
    left: 4%;
    position: absolute;
    top: 4%;
    width: 95%;
    z-index: -1;
    opacity: 0.5
}

.pricing-section .pricing-table-small-title {
    border-bottom: 1px solid #ebebeb;
}

.pricing-section .pricing-table-small-title p {
    text-transform: capitalize;
}

.pricing-section .pricing-table-small-content {
    padding-bottom: 20px;
    width: 100%;
}

.pricing-section .pricing-table-small-button i {
    margin-left: 10px;
}

.pricing-table-small-button a {
    margin-right: 0;
}

.pricing-table-small-title h1 {
    margin: 0;
    line-height: 40px;
}

.pricing-table-small-content h1.pts-price {
    line-height: 40px;
    margin: 0;
    padding: 20px 0;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #6441a5;
}

.pricing-table-small-content h1 small {
    font-size: 16px;
    text-transform: capitalize;
}

.pricing-section .features_left {
    position: relative;
    overflow: hidden;
}

.pricing-section .features_left ul {
    position:relative;
}

.pricing-section .features_left li.cut {
    color: #999;
    text-decoration: line-through;
}

.pricing-section .features_left li {
    font-size: 18px;
    padding: 5px 0;
}

.pricing-section .features_left li i.fa-check {
    color: #007f00;
    font-size: 14px;
}

.pricing-section .features_left li i.fa-times {
    color: #b20000;
    font-size: 14px;
}


/* ----  APP SECTION CSS ---- */

.app-section {
    position: relative;
    padding-bottom: 0;
    text-align: center;
    background-attachment: scroll;
    background-image: url("../images/custom-bg.png");
    background-size: cover;
    background-position: center center;
}

.app-section .apps-buttons {
    position: relative;
    margin: 50px 0;
}

.app-section .apps-buttons a {
    font-size: 16px;
}

.app-section .apps-buttons i {
    margin-right: 5px;
    font-size: 26px;
}

.app-section h2 {
    margin: 0;
}

.app-section h4 {
    font-size: 20px;
}

.app-section h4 span {
    font-weight: 600;
    color: #6441a5;
    text-transform: uppercase
}


/* ----  SERVICES 3 CSS ---- */

.services-3 {
    position: relative;
    background-attachment: scroll;
    background-image: url("../images/services-bg.html");
    background-size: cover;
    background-position: bottom center;
}

.services-grid-3 {
    padding: 30px;
    transition: all 0.3s ease 0s;
    o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    background-color: #FFF;
}

.services-grid-3 i {
    font-size: 64px;
    color: #999;
    position: absolute;
    right: 10px;
    bottom: 0px;
    opacity: 0.1;
}

.col-md-4:nth-child(even) .services-grid-3 {
    background-color: #e7f0f5;
}

.services-grid-3:hover h4 {
    color: #6441a5;
}

.services-grid-3 h4 {
    color: #242424;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.services-grid-3 p {
    color: #242424;
    margin-bottom: 0;
}

.services-grid-3 img {
    position: relative;
    float: left;
}


/* ----  BLOG CSS ---- */

.blog-posts {
    padding-bottom: 50px;
}

.blog-posts-section {
    padding-bottom: 40px;
}

.blog-post {
    color: #162532;
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.blog-detail {
    padding: 20px;
    border-bottom: 1px solid #F1F1F1;
}

.blog-post .post-title a {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
}

.post-info a {
    color: #999;
    font-weight: 500;
    font-size: 16px;
}

.blog-post .btn {
    margin: 0px;
    margin-right: 0;
}

.post-img {
    overflow: hidden;
}

.post-img img {
    width: 100%;
    height: auto;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.post-info {
    background-color: #FFF;
    font-size: 14px;
    position: relative;
    text-transform: capitalize;
    width: 100%;
    padding-bottom: 0;
}

.post-info i {
    margin-right: 10px;
    color: #999;
}

.post-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 5px;
}

.post-title a:hover {
    color: #6441a5;
}

.blog-post p {
    margin: 0;
}

.blog-meta {
    background-color: #f6f6f6;
    position: relative;
    float: left;
    padding: 10px 20px;
    width: 100%;
}

.blog-meta .pull-left a:hover {
    color: #6441a5;
}

.blog-meta img {
    width: 30px;
    height: 30px;
}

.blog-meta i {
    font-size: 16px;
    margin-right: 5px;
}

.blog-meta span.pull-left {
    font-size: 16px;
}

.single-listing-page-meta-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.single-listing-page-meta-box h2 {
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.blog-posts .ratings i.color {
    color: #3C92CA;
}

.blog-posts .ratings i {
    color: #444;
    font-size: 15px;
    line-height: 20px;
    margin-right: 5px;
}

.single-listing-page-meta {
    background-color: #6441a5;
    color: #fff;
    padding: 30px;
    margin-bottom: 15PX;
}

.single-listing-page-meta p {
    color: #FFF;
    margin-bottom: 0;
}

.single-listing-page-meta i {
    color: #FFF;
    margin-right: 5px;
}

.single-listing-page-meta span {
    margin-right: 20px;
}

.single-listing-page-desc {
    position: relative;
    overflow: hidden;
}

.single-listing-page-desc p {
    position: relative;
    margin-bottom: 20px;
}

.single-listing-page-desc h4 {
    font-weight: 600;
    margin-top: 0;
    padding: 20px 0;
    position: relative;
    text-transform: capitalize;
    font-size: 24px;
}

.article-img-left {
    float: left;
    height: 50%;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.article-img-right {
    float: right;
    height: 50%;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 50%;
}

blockquote {
    border-left: 0 none;
    color: #FFF;
    font-size: 16px;
    margin: 30px 0;
    padding: 50px 40px;
    position: relative;
    text-transform: capitalize;
    background-color: #242424;
    letter-spacing: 2px;
    text-align: center;
    line-height: 30px;
}

blockquote::before {
    color: #FFF;
    content: "";
    display: block;
    font-family: "FontAwesome";
    font-size: 34px;
    left: 10px;
    position: absolute;
    top: 15px;
}

.tag-cloud-post {
    border-top: 1px solid #999;
    padding-top: 20px;
}

.tag-cloud-post i {
    margin-right: 20px;
}

.tag-cloud-post a {
    color: #444;
    margin-right: 10px;
}

.search .stylish-input-group .form-control {
    border-color: #ccc;
    border-right: 0 none #ccc;
    box-shadow: 0 0 0;
    height: 50px;
    background-color: #FFF;
}

.search .stylish-input-group .input-group-addon {
    background: white none repeat scroll 0 0 ;
    border-left: 1px solid #ccc;
    border-radius: 0;
}

.search .stylish-input-group button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
}

.widget .tag_cloud a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    color: #242424;
    border-radius: 4px;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 10px 8px 0;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.widget .tag_cloud a:hover {
    color: #6441a5;
    border-color: #6441a5;
}

.blog-posts .comment-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.blog-postsl .comment li {
    border-right: 2px solid #000;
    padding-right: 10px;
}

.blog-posts .comment li:last-child {
    border-right: 0 none;
}

.blog-posts .comment-info {
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 30px 0;
    overflow: hidden;
}

.blog-posts .comment-info p {
    margin-bottom: 20px;
}

.blog-posts .comment-info img {
    max-width: 90px;
}

.blog-posts .comment-info .author-desc {
    margin-left: 115px;
}

.blog-posts .comment-info .author-title {
    color: #323232;
    line-height: 16px;
    margin-bottom: 22px;
}

.blog-posts .author-title strong {
    color: #323232;
    font-size: 20px;
    text-transform: capitalize;
}

.blog-posts .author-title .list-inline li {
    border-right: 1px solid #999;
    padding-right: 10px;
}

.blog-posts .author-title .list-inline li:last-child {
    border: 0;
    padding-right: 0;
}

.blog-posts .author-title .list-inline li a {
    font-size: 16px;
    color: #6441a5;
    font-weight:600;
}

.blog-posts .comment-date {
    border-left: 1px solid #777;
    color: #777;
    font-size: 12px;
    margin-left: 17px;
    padding-left: 17px;
}

.blog-posts .comment-list .children {
    list-style: outside none none;
    padding-left: 67px;
}

.blog-posts .comment-info img {
    max-width: 90px;
}

.blog-posts .page-numbers {
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    margin: 0 2px 0 0;
    padding: 5px 10px;
    text-decoration: none;
}

.blog-posts .page-numbers.current,
a.page-numbers:hover {
    background: #f9f9f9 none repeat scroll 0 0;
}

.blog-posts .navigation li a,
.blog-posts .navigation li a:hover,
.blog-posts .navigation li.active a,
.blog-posts .navigation li.disabled {
    color: #fff;
    text-decoration: none;
}

.blog-posts .navigation li {
    display: inline;
}

.blog-posts .navigation li a,
.blog-detial .navigation li a:hover,
.blog-detial .navigation li.active a,
.blog-detial .navigation li.disabled {
    background-color: #6fb7e9;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.75rem;
}

.blog-posts .navigation li a:hover,
.blog-detial .navigation li.active a {
    background-color: #3c8dc5;
}

.blog-posts .feedback {
    margin-bottom: 30px
}

.feedback label {
    color: #242424;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 100%;
    text-transform: capitalize;
}

.feedback span.required {
    color: #f00;
    font-size: 18px;
    line-height: 10px;
}

.single-listing-page-meta-box h4,
.feedback h4,
.reviews h4 {
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: 600;
    padding: 20px 0;
    text-transform: capitalize;
    font-size: 24px;
}

.blog-posts iframe {
    height: 400px;
    width: 100%;
    border-bottom: 5px solid #3C92CA;
}

.widget {
    background-color: #eff6f9;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px 30px;
    position: relative;
    box-shadow: 0 0 1px 0px rgba(14, 2, 2, 0.62);
}
}

.widget h4 {
    font-weight: 600;
    margin-top: 0;
    font-size: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
}

.widget .single-pp-wrapper:last-child {
    margin-bottom: 0;
    border: none;
}

.single-pp-wrapper {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.popular-post-img,
.popular-post-img img {
    float: left;
    width: 75px;
    height: 75px;
}

.popular-post-content {
    float: left;
    padding-left: 10px;
    width: 70%;
}

.popular-post-content h5 {
    color: #242424 ;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
}

.popular-post-content h5 a {
    color: #242424;
    transition: all 0.3s ease-in 0s;
}

.popular-post-content h5 a:hover {
    color: #6441a5;
}

.popular-post-content p {
    color: #636363;
    font-size: 12px;
    line-height: normal;
    margin: 10px 0 0;
}

.widget .categories-module {
    background-color: #eff6f9;
}

.widget .categories-module li {
    border-bottom: 1px solid #f1f1f1;
    display: block;
    padding-bottom: 13px;
    padding-top: 13px;
}

.widget .categories-module li:first-child {
    padding-top: 0;
}

.widget .categories-module li:last-child {
    border-bottom: 0;
}

.widget .categories-module li a {
    color: #242424;
    font-size: 18px;
    text-transform: capitalize;
}

.widget .categories-module li a:hover {
    color: #6441a5;
}

#single-listing-page .categories-module span {
    color: #444;
    float: right;
}

#single-listing-page .categories-module span.closed {
    color: #3C92CA;
}


/* ---- SERVICES SIDEBAR ---- */

.services-detail {
    position: relative;
    overflow: hidden;
}

.services-detail p {
    margin: 20px 0;
}

.services-detail h2 {
    font-size: 34px;
    margin-top: 0;
    text-transform: capitalize;
}

ul.desc-points {
    padding-left: 30px;
    margin-bottom: 30px;
}

ul.desc-points li {
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}

ul.desc-points li i {
    color: #6441a5;
    margin-right: 15px;
}

ul.side-bar-list {
    margin: 0 0 30px;
    padding: 0;
}

ul.side-bar-list li:first-child {
    margin-top: 0;
}

ul.side-bar-list li {
    list-style: outside none none;
}

ul.side-bar-list li a {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #242424;
    font-size: 20px;
    display: block;
    padding: 16px 25px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out 0s;
    o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

ul.side-bar-list li a::after {
    color: #222222;
    content: "\f105 ";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 50px;
    position: absolute;
    right: 25px;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}

ul.side-bar-list li a:hover,
ul.side-bar-list li a.active {
    background: #6441a5 none repeat scroll 0 0;
    color: #ffffff;
}

ul.side-bar-list li a:hover::after,
ul.side-bar-list li a.active::after {
    color: #ffffff;
}


/* ---- CASESTUDIES DETAIL ---- */

.portfolio-meta li {
    margin: 15px 0;
}

.portfolio-meta li span {
    color: #242424;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    width: 180px;
}

.portfolio-meta li {
    color: #666;
    margin: 15px 0;
}

.portfolio-meta p {
    margin: 0;
}

 

.services-detail .owl-theme .owl-controls .owl-buttons div.owl-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 18px ;
    height: 80px ;
    left: 0;
    line-height: 80px ;
    margin: 0 ;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 20px;
    z-index: 997;
}

.services-detail .owl-theme .owl-controls .owl-buttons div.owl-next {
    background-color: rgba(0, 0, 0, 0.5) ;
    color: #ffffff ;
    font-size: 18px ;
    height: 80px;
    line-height: 80px ;
    margin: 0 ;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 35%;
    width: 20px;
    z-index: 997;
}

.services-detail .owl-theme .owl-controls {
    margin-top: 0;
}

.services-detail .owl-theme .owl-controls .owl-buttons div.owl-prev,
.services-detail .owl-theme .owl-controls .owl-buttons div.owl-next {
    opacity: 0 ;
    border-radius: 0 ;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.services-detail .owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.services-detail .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    width: 30px;
}

.services-detail:hover .owl-prev,
#post-slider:hover .owl-prev,
.services-detail:hover .owl-next,
#post-slider:hover .owl-next {
    opacity: 1 !important;
}



.portfolio-controll-section {
    background-color: #fff;
    padding: 30px 0;
}

.portfolio-controll-section a:hover i {
    color: #6441a5;
}

.portfolio-controlls img {
    border: 1px solid #ddd;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

.portfolio-controlls-right img {
    border: 1px solid #ddd;
    float: right;
    height: 50px;
    margin-left: 10px;
    width: 50px;
}

.portfolio-controlls-right h4 {
    text-align: right;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.portfolio-controlls-right h4:hover,
.portfolio-controlls h4:hover {
    color: #6441a5;
}

.portfolio-controlls h4 {
    text-align: left;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.portfolio-controlls-right p {
    margin-bottom: 0;
    text-align: right;
}

.portfolio-controlls p {
    margin-bottom: 0;
    text-align: left;
}

.portfolio-controll-section .fa-angle-right {
    float: right;
    font-size: 50px;
    margin-left: 20px;
}

.portfolio-controll-section .fa-angle-left {
    float: left;
    font-size: 50px;
    margin-right: 20px;
}


/* ---- CALL TO ACTION 1 ---- */

.call-to-action-1 h3 {
    color: #FFF;
    margin: 0;
    font-size: 40px;
    text-transform: capitalize;
}

.call-to-action-1 i.icon-trophy {
    color: #fff;
    float: left;
    font-size: 50px;
    line-height: 80px;
    margin-right: 20px;
}

.call-to-action-1 p {
    color: #FFF;
}

.call-to-action-1 .btn {
    margin-top: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.call-to-action-1 {
    position: relative;
    overflow: hidden;
}

.call-to-action-1 {
    padding: 40px 0;
    background: url("../images/home-17-parallax.jpg");
    background-position: bottom 200px right 200x;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ----  CONTACT US CSS ---- */

.contact-us {
    position: relative;
    overflow: hidden;
}

input.form-control {
    height: 45px;
}

.contact-us .form-group label {
    font-size: 16px;
}

.contact-us .services-grid-3 {
    position: relative;
    overflow: hidden;
}

.contact-us .services-grid-3:nth-child(even) {
    background-color: #F9f9f9;
}


/* ----  SHOP CSS ---- */

.shop-posts {
    padding-bottom: 50px;
}

.shop-grid {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.shop-grid:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.shop-detail {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px;
    background-color: #FFF;
}

.shop-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    margin: 5px 0;
}

.shop-title a:hover {
    color: #6441a5;
}

.rating .star i {
    color: #ffc627;
    font-size: 16px;
}

.price {
    font-size: 24px;
    color: #888;
    text-transform: capitalize;
}

.price ins {
    text-decoration: none;
    color: #242424;
    margin-left: 10px;
    font-weight: 600;
}

.shop-meta {
    padding: 20px;
    background-color: #FFF;
}

.shop-meta {
    position: relative;
    overflow: hidden;
}

.shop-meta i {
    color: #FFF;
    padding: 12px;
    font-size: 20px;
    background-color: #6441a5;
    display: inline-block;
    float: left;
    line-height: 20px;
    border: 1px solid #6441a5;
    line-height: 19px;
}

.shop-meta a.pull-right i {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.shop-meta a.pull-right i:hover {
    background-color: transparent;
    color: #6441a5;
    border: 1px solid #6441a5;
}

.shop-meta .add-to-cart {
    border: 1px solid #F1F1F1;
    padding: 10px 20px;
    color: #242424;
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.shop-meta .add-to-cart:hover {
    border: 1px solid #6441a5;
    color: #6441a5;
}

.product-tilte h3 {
    color: #191919;
    font-size: 34px;
    text-transform: capitalize;
    margin: 0;
}

.product-detial {
    margin-top: 35px;
}

.product-box {
    border: 1px solid #eee;
    display: block;
    background-color: #F5f5f5;
    overflow: hidden;
    padding: 45px 30px;
    position: relative;
}

.product-detial-info .caption .card-price-block .price-title {
    display: block;
    font-size: 16px;
}

.product-detial-info .caption .card-price-block .product-price {
    font-size: 30px;
}

.product-detial-info .caption .card-price-block .product-price-old {
    font-size: 20px;
}

.product-availability::before {
    color: #428d00;
    content: "\f00c ";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    left: 0;
    line-height: 1.1;
    padding-right: 5px;
    position: relative;
    top: 0;
}

.product-availability {
    color: #428d00;
    display: block;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
}

.rating .add-review {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.rating .add-review a,
.rating .add-review span {
    color: #888888;
    font-size: 11px;
}

.rating .add-review a,
.rating .add-review span {
    color: #888888;
    font-size: 11px;
}

.rating .add-review a::before {
    content: "|";
    display: inline-block;
    margin: 0 7px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.rating .add-review a,
.rating .add-review span {
    color: #888888;
    font-size: 16px;
}

.rating .add-review a:hover,
.rating .add-review span:hover {
    color: #6441a5;
}

.product-detial-info .product-description {
    margin-top: 20px;
}

.product-detial-info .caption {
    margin: 0;
}

.product-detial-info .product-description h3 {
    color: #191919;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.product-detial-info ul li span {
    color: #191919;
}

product-quantity {
    margin-top: 15px;
}

.product-quantity > span {
    font-size: 18px;
}

.product-quantity > input {
    border: 1px solid #ccc;
    font-size: 18px;
    height: 40px;
    margin-right: 10px;
    padding: 5px 10px;
    width: 60px;
    color: #777;
}

.toch-button {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin: -5px 5px 0 0;
    outline: 0 none;
    padding: 0 36px 0 36px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: auto;
}

.toch-button:hover,
.toch-button.toch-add-cart,
.toch-menu ul li a:hover,
.toch-menu ul li.active a:hover {
    background: #ffc627 none repeat scroll 0 0;
    color: #fff;
}

.toch-button.toch-add-cart:hover {
    background: #e9af05 none repeat scroll 0 0;
}

.b-socials {
    margin-top: 38px;
}

.b-socials ul li {
    float: left;
}

.custom-select {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.custom-select ul li select {
    display: block;
    height: 36px;
    width: 100% !important;
}

.custom-select ul li .customSelect {
    display: block !important;
    width: 100% !important;
}

.custom-select ul li .mandatory {
    color: red;
    font-size: 14px;
}

.custom-select ul li label {
    text-transform: capitalize;
}

.social-share .b-socials.full-socials ul li a {
    color: #888888;
    display: block;
    margin-right: 18px;
}

.b-socials ul li a i {
    font-size: 13px;
}

.b-socials.full-socials {
    margin-top: 40px;
}

.b-socials.full-socials li a {
    border: 1px solid #ebebeb;
    display: inline-block;
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 5px;
    margin-right: 4px;
    padding: 8px;
    color: #777;
    vertical-align: middle;
}

.b-socials.full-socials li a i {
    font-size: 15px;
    margin-right: 3px;
    vertical-align: middle;
}

.b-socials.full-socials li a i.fa-twitter {
    color: #00aaf0;
}

.b-socials.full-socials li a i.fa-facebook {
    color: #435f9f;
}

.b-socials.full-socials li a i.fa-google-plus {
    color: #e04b34;
}

.b-socials.full-socials li a i.fa-pinterest {
    color: #ce1f2e;
}

.product-detial .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.product-detial .nav-tabs > li.active a {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.product-tabs {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-top: 25px;
}

.product-tabs ul li a {
    color: #242424;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 24px;
}

.product-tabs ul li a:hover {
    background: #fff;
}

.product-tabs ul li.active {
    border-left: 1px solid #ddd;
    border-radius: 0;
    border-right: 1px solid #ddd;
}

.product-tabs ul li.active:first-child {
    border-left: medium none;
}

.product-detial .tab-pane {
    background: #f5f5f5 none repeat scroll 0 0;
}

.table-responsive table {
    margin-bottom: 0;
}

.Reviews ul {
    margin-top: 20px;
}

.Reviews .reviews-shop-content ul,
.Reviews .reviews-shop-content ul li {
    display: inline-block;
    margin: 0;
    padding: 0 ;
}

.Reviews ul li {
    background-color: #f0f0f0;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 30px;
}

.reviews-txt p {
    color: #777;
    font-size: 13px;
    margin-top: 15px;
}

.reviews-txt a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #333;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.reviews-txt a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #6441a5;
    margin: 0;
    padding: 0;
}

.product-tabs .comment ul.list-inline li a {
    color: #6441a5;
    font-size: 16px ;
    font-weight: 0;
    margin: 0 ;
    padding: 0;
}

.product-tabs .commentform h3 {
    color: #191919;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.product-tabs h3 {
    color: #191919;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.shop-posts .comment-info img {
    max-width: 90px;
    height: 90px;
}

.shop-posts .comment-info .author-desc {
    margin-left: 115px;
}

.shop-posts .author-title strong {
    color: #323232;
    font-size: 20px;
    text-transform: capitalize;
}

.shop-posts .comment-list .children {
    list-style: outside none none;
    padding-left: 67px;
}

.shop-posts .comment-info {
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 30px 0;
    overflow: hidden;
}

.shop-posts .comment-info p {
    margin-bottom: 40px;
}

.shop-posts .author-title .list-inline li {
    border-right: 1px solid #999;
    padding-right: 10px;
}

.shop-posts .author-title .list-inline li a {
    color: #6441a5;
    font-size: 16px;
}

.shop-posts .author-title .list-inline li:last-child {
    border: 0 none;
    padding-right: 0;
}

.product-detial-info ul li {
    font-size: 18px;
}

.product-detial-info ul li span {
    font-size: 20px;
}

.product-price-old {
    color: #888888;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    text-decoration: line-through;
}

.product-thumb .item a img {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    display: block;
    margin: 20px 0 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 100% ;
}

.product-thumb .item a img:hover {
    border-color: #337ab7;
}

.shop-detail-tab .tab-pane {
    background-color: #FFF;
    padding: 20px;
}


/* ----  FOOTER CSS ---- */

.footer {
    padding: 70px 0 40px 0;
    background-color: #021442;
    position: relative;
}

footer .footer_block {
    position: relative;
    overflow: hidden;
}

footer .footer_block .f_logo {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
}

footer .footer_block p {
    position: relative;
    color: #FFF;
}

footer .footer_block a.read-more-footer {
    position: relative;
    color: #FFF;
    margin-bottom: 20px;
    float: right;
    font-size:16px;
}

footer .footer_block a.read-more-footer i {
    margin-left: 10px;
}

footer .social-bar {
    border-top: 1px solid #FFF;
    width: 100%;
    padding-top: 20px;
}

footer .social-bar a {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

footer .social-bar a:hover {
    background-color: #FFF;
}

footer ul.footer-links li {
    padding: 10px 0;
}

footer ul.footer-links li:first-child {
    padding-top: 0;
}

footer ul.footer-links li a {
    color: #FFF;
    font-size:16px;
}

footer ul.footer-links {
    width: 50%;
    float: left;
    padding-left: 50px;
}

.footer_block h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
}

.footer_block h4.f-h-padding {
    padding-left: 50px;
}

.footer_block .footer-links:nth-child(odd) {
    border-left: 1px solid #FFF;
    width: 50%;
}

footer .personal-info li {
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    width: 100%;
}

footer ul.personal-info li:first-child {
    padding-top: 0;
}

footer .footer_block .personal-info li i {
    color: #FFF;
    float: left;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 5px;
}

.footer-bottom {
    padding: 20px 0;
}

.footer-bottom p {
    margin-bottom: 0;
}

.footer-bottom p a {
    font-weight: 600;
    color: #0c74a6;
    text-transform: uppercase;
}

.footer-bottom .social-bar {
    margin-top: 0;
}

.footer-bottom .social-bar a {
    color: #6441a5;
}

.footer-2 {
    background-color: #f4f7fa;
    padding: 70px 0 40px 0;
}

.footer-2 .footer_block p {
    color: #242424;
}

.footer-2 .footer_block h4 {
    color: #242424;
}

.footer-2 .footer_block a.read-more-footer {
    color: #242424;
}

.footer-2 ul.footer-links li a {
    color: #242424;
}

.footer-2 .footer_block .footer-links:nth-child(2n+1) {
    border-color: #242424;
}

.footer-2 .personal-info li {
    color: #242424;
}

.footer-2 .footer_block .personal-info li i {
    color: #6441a5;
}

.footer-2 .footer_block i {
    color: #6441a5;
}

.footer-3 {
    padding: 70px 0 40px 0;
    background: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-3 .footer_block .f_logo {
    margin-bottom: 30px;
}

.footer-3 .footer_block h4 {
    color: #FFF;
}

.footer-3 .footer_block a.read-more-footer {
    color: #FFF;
}

.footer-3 ul.footer-links li a {
    color: #FFF;
    font-size:16px;
}

.footer-3 .footer_block .footer-links {
    padding-left: 0;
}

.footer-3 .personal-info li {
    color: #FFF;
}

.footer-3 .footer_block .personal-info li i {
    color: #FFF;
}

.footer-3 .footer_block i {
    color: #FFF;
}

.footer-3 ul.footer-links {
    width: 100%;
}

.footer-3 .footer-links li::before {
    color: #969ea7;
    content: "\f105";
    font-family: "FontAwesome";
    left: 0;
    position: absolute;
}

.footer-3 .footer-links li {
    padding-left: 15px;
}

.recentpost li {
    display: block;
    margin: 0 0 27px 0;
}

.recentpost li:last-child {
    margin-bottom: 0;
}

.recentpost li span {
    position: relative;
    width: 60px;
    height: 60px;
    background: #bfbfbf;
    float: left;
    margin: 0 10px 10px 0;
    overflow: hidden;
    z-index: 99;
}

.recentpost li span a.plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    text-align: center;
}

.recentpost li span a.plus img {
    width: 60px;
    height: 60px;
}

.recentpost li span a.plus i {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    margin-top: -100%;
    font-size: 30px;
    color: #fff;
    font-style: normal;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
}

.recentpost li span a.plus:hover i {
    margin-top: 0;
}

.recentpost li p {
    margin-bottom: 0;
}

.recentpost li p a {
    margin: 0;
    font-size: 16px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: 600;
}

.recentpost li p a:hover {
    color: #6441a5;
}

.recentpost li h3 {
    font-size: 16px;
    color: #FFF;
    margin: 0;
    font-weight: 300;
}


/* ----  MEDIA QUERIES ---- */
@media (min-width: 1400px) and (max-width: 1920px) {
    .main-section .main-section-detail h1 {
        margin-top:150px;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .pricing-section .pricing-table-small {
        padding: 20px;
    }
    footer ul.footer-links {
        padding-left: 0;
        width: 50%;
    }
    .footer_block h4 {
        margin-top: 10px;
    }
    .footer_block h4.f-h-padding {
        padding-left: 0;
    }
    .footer_block .footer-links:nth-child(2n+1) {
        padding-left: 50px;
    }
    .client-section .heading-2 {
        margin-bottom: 30px;
    }
    .owl-testimonial-2 .single_testimonial {
        margin-left: 10px;
        margin-bottom: 0;
    }
    .project-container .project-info {
        height: 250px;
    }
    .process-titles ul li {
        font-size: 20px;
        padding-right: 20px;
    }
    .process img {
        margin-top: 70px;
    }
    .main-heading-container p {
        width: 80%;
    }
    .arch-funfacts .counter-seprator {
        border: medium none;
        padding: 20px 40px;
    }
    .counter-seprator {
        width: 50%;
    }
    .side-heading .main-heading-container::before {
        border-left: 3px solid #6441a5;
        border-top: 3px solid #6441a5;
        content: "";
        height: 35px;
        left: 0;
        position: absolute;
        top: -20px;
        width: 35px;
    }
    .side-heading .heading-letter-style {
        left: 36px;
    }
    .owl-testimonial-2 .single_testimonial img {
        width: 75px;
        height: 75px;
    }
    .owl-testimonial-2 .single_testimonial {
        margin-bottom: 10px;
    }
    .project-container-2 .project-info {
        height: 320px;
    }
    .main-section-2 .form-inline {
        text-align: center;
    }
    .product-box {
        margin-bottom: 30px;
    }
    .main-section .main-section-detail h1 {
        font-size: 44px;
        margin-top: 100px;
    }
    .get-analytic input {
        width: 160px;
    }
    .transparent .menu-links > li > a {
        color: #242424;
    }
    .main-section-2 input {
        width: 160px;
    }
    #post-slider {
        margin-bottom: 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #about {
        background-image: none;
        padding: 50px 0;
    }
    .side-heading .main-heading-container::before {
        left: -5px;
        top: -12px;
    }
    #about .heading-2 {
        margin-top: 20px;
    }
    .heading-2 h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .heading-2 h3 {
        font-size: 20px;
    }
    .heading .main-heading-container h1 {
        font-size: 24px;
    }
    .heading .main-heading-container h3 {
        font-size: 20px;
    }
    .heading .heading-letter-style {
        font-size: 70px;
        top: -36px;
    }
    .main-heading-container p {
        margin-top: 10px;
    }
    .btn-custom {
        padding: 10px 20px;
    }
    .main-heading-container p {
        width: 100%;
    }
    #services .services-box .iconbox i {
        font-size: 20px;
        margin-right: 10px;
        padding: 30px 16px;
    }
    .process img {
        margin-top: 45px;
    }
    .process-titles {
        text-align: left;
        width: auto;
    }
    .process-titles ul li {
        font-size: 12px;
        line-height: 16px;
        padding-right: 0;
        width: 18%;
    }
    .process-titles-postion {
        margin-top: 24px;
    }
    .feature-icon-box i {
        line-height: 50px;
    }
    .feature-icon-box p {
        line-height: 24px;
        margin-bottom: 30px;
    }
    .owl-testimonial-2 .single_testimonial {
        margin-left: 0;
        margin-bottom: 0;
    }
    .side-heading .main-heading-container {
        padding-left: 20px;
    }
    .arch-funfacts .counter-seprator {
        border: medium none;
        padding: 20px 40px;
    }
    .counter-seprator {
        width: 100%;
    }
    .owl-testimonial-2 .single_testimonial img {
        width: 70px;
        height: 70px;
    }
    .owl-testimonial-2 .single_testimonial .testimonial-meta-box::after {
        top: 20px;
        right: 0;
    }
    .client-section .heading-2 {
        margin-bottom: 30px;
    }
    .pricing-section .pricing-table-small {
        margin-bottom: 30px;
    }
    .app-section .apps-buttons a {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .social-bar li {
        margin: 0 10px 0 0;
    }
    footer ul.footer-links {
        padding-left: 0;
        width: 50%;
    }
    .footer_block h4 {
        margin-top: 10px;
    }
    .footer_block h4.f-h-padding {
        padding-left: 0;
    }
    .footer_block .footer-links:nth-child(2n+1) {
        padding-left: 50px;
    }
    .call-to-action-1 h3 {
        font-size: 24px;
    }
    .main-section-2 .main-section-detail h1 {
        font-size: 30px;
        margin-top: 30px;
    }
    .main-section-2 h3 {
        font-size: 20px;
    }
    .main-section-2 input {
        width: 100%;
    }
    .form-inline .btn.btn-custom {
        width: 100%;
    }
    .main-section-2 {
        height: 600px;
    }
    .blog-posts .comment-info .author-desc {
        margin-left: 0;
    }
    .blog-posts .comment-list .children {
        padding-left: 25px;
    }
    aside {
        margin: 30px 0;
    }
    .widget {
        padding: 10px 15px;
    }
    .my-breadcrumb {
        text-align: center;
    }
    .my-breadcrumb .page-banner .breadcrumb {
        float: none !important;
        text-align: center;
    }
    .single-listing-page-meta {
        padding: 20px 15px;
    }
    .article-img-left,
    .article-img-right {
        float: none;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
    .product-box {
        margin-bottom: 30px;
    }
    .header-top-right ul li.cart-active {
        padding: 0 30px;
    }
    .header-top-right ul li.search-bar {
        display: none;
    }
    .main-section .main-section-detail h2 {
        font-size: 20px;
    }
    .main-section .main-section-detail h1 {
        font-size: 30px;
    }
    .get-analytic input {
        width: 100% ;
    }
    .transparent .menu-links > li > a {
        color: #242424;
    }
    .services-detail h2 {
        font-size: 24px;
    }
    #post-slider {
        margin-bottom: 30px;
    }
    .portfolio-meta li span {
        width: 145px;
    }
    ul.desc-points {
        padding-left: 15px;
    }
    .portfolio-controlls h4,
    .portfolio-controlls p,
    .portfolio-controlls-right h4,
    .portfolio-controlls-right p {
        display: none;
    }
    .product-tilte h3 {
        font-size: 24px;
    }
    .shop-title {
        font-size: 20px;
    }
    .contact-us .services-grid-3:first-child {
        margin-top: 30px;
    }
    #services .services-box .iconbox .iconbox-meta h4 {
        font-size:20px; 
    }
    .project-container-2 .project-info {
        height:300px;   
    }
    .shop-posts .comment-info .author-desc {
        margin-left:0;  
    }
    .shop-posts .comment-list .children {
        padding-left:40px;  
    }
    .ms-layer.text3.text-left {
        display:none;   
    }

}